.apt-success-modal{
  .apt-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    text-align: center;
    .img{
      margin-bottom: 0.5rem;
      img{
        width: 13rem;
      }
    }
    .no{
      color: #3FB06D;
      margin-bottom: 0.5rem;
    }
    h3{
      margin-bottom: 0.5rem;
    }
    .text{
      color: grey;
      margin-bottom: 1rem;
    }
    .btns{
      display: flex;
      gap: 1rem;
      width: 100%;
      .btn{
        padding: 0.5rem 1rem;
        color: var(--white);
        text-decoration: none;
        width: 50%;
      }
      .make-btn{
        background: #B00;
      }
    }
  }
}


//media quereis
@media (max-width: 560px){
  .apt-success-modal{
    .apt-card{
      // padding: 1rem;
      .btns{
        justify-content: space-between;
        width: 100%;
        gap: 0.5rem;
        .btn{
          font-size: 0.8rem;
        }
      }
    }
  }
}