.prefix-modal{
  .modal{
    .modal-dialog{
      margin: 0;
      .modal-body{
        padding: 15px !important;
        .check-row{
          display: flex;
          align-items: center;
          gap: 2rem;
          .input{
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 0.85rem;
            input{

            }
            .title{
              white-space: nowrap;
            }
          }
        }
        .add-btn{
          display: flex;
          align-items: center;
          input{
            border-radius: 5px 0 0 5px;
          }
          .btn{
            border-radius: 0 5px 5px 0;
          }
        }
      }
    }
  }
}