.show-drop {
  .dropdown-options {
    display: block !important;
  }
}

.single-select {
  position: relative;
  input {
    background: #fff;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 0.9em;
    padding: 6px;
    // padding-right: 1.3rem;
    width: 100%;
  }
  // .arrow{
  //   position: absolute;
  //   top: 8px;
  //   right: 8px;
  //   img{
  //     height: 8px;
  //     width: 10px;
  //   }
  // }
  .dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    width: 100%;
    overflow-y: auto;
    li {
      padding: 8px;
      cursor: pointer;
      text-align: left;
      &:hover {
        background-color: #f0f0f0;
      }
      &:not(:last-child){
        border-bottom: 1px solid #eee;
      }
    }
  }
  .show-drop {
    .dropdown-options {
      display: block;
    }
  }
}
