.table-outer {
  // width: 100%;
  background: var(--white);
  // overflow-x: scroll;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}
.table-header{
  background: var(--table-header-bg-color);
  color: var(--white);
  border-bottom: 1px solid #7E97A7;
  line-height: 24px;
  font-weight: bold;
  padding: 0 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  border: 1px solid #c8ced3;
  // border-top: 2px solid #c8ced3;
  // border-bottom: 2px solid #c8ced3;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  thead {
    th {
      color: #243A48;
      padding: 8px 10px;
      border: 1px solid #c8ced3;
      background: var(--table-header-bg-color);
      // white-space: nowrap;
      text-align: left;

    }
  }

  tbody {
    background: var(--white);
    border-bottom: 1px solid #7E97A7;

    tr {
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }

      td {
        padding: 8px 10px;
        border: 1px solid #c8ced3;
        // white-space: nowrap;
        min-width: max-content;
        max-width: 10rem;
        text-align: left;
        input{
          min-width: 100%;
          width: 100%;
        }
      }
    }
    .grey-row{
      background: #e4e4e4;
    }
  }
}
.table-no-data{
  text-align: center;
  background: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
}
.table-footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  .entries{
    font-size: 0.85rem;
    // font-weight: 700;
    // color: var(--blue);
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--black);
    #icon{
      stroke: var(--blue);
      height: 2rem;
      width: 2rem;
      cursor: pointer;
    }
    span{
      cursor: pointer;
    }
    .left-round-arrow{
      fill: var(--blue);
      stroke: red;
    }
    .page{
      border-radius: 100%;
      padding: 0.4rem;
      background: var(--blue);
      height: 2rem;
      width: 2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
    }
    .active{
      font-weight: 700;
    }
  }
}


//media queries
@media (max-width: 1024px){
  .table-outer{
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .table{
      td, th{
        min-width: 8rem;
      }
    }
  }
}