.table-outer {
  width: 100%;
  background: var(--white);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.table-header{
  background: var(--table-header-bg-color);
  color: var(--white);
  border-bottom: 1px solid #7E97A7;
  line-height: 24px;
  font-weight: bold;
  padding: 0 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  border: 1px solid #c8ced3;
  // border-top: 2px solid #c8ced3;
  // border-bottom: 2px solid #c8ced3;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  thead {
    th {
      color: #243A48;
      padding: 8px 10px;
      border: 1px solid #c8ced3;
      background: var(--table-header-bg-color);
      white-space: nowrap;
      text-align: left;

    }
  }

  tbody {
    background: var(--white);
    border-bottom: 1px solid #7E97A7;

    tr {
      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }

      td {
        padding: 8px 10px;
        border: 1px solid #c8ced3;
        // white-space: nowrap;
        min-width: 8rem;
        max-width: 10rem;
        text-align: left;
        input{
          min-width: 100%;
          width: 100%;
        }
      }
    }
    .grey-row{
      background: #e4e4e4;
    }
  }
  .no-data{
    text-align: center;
    background: #fff;
    tr{
      td{
        padding: 10px 18px 6px;
        font-weight: 700;
      }
    }
  }
}
.table-footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  .entries{

  }
  .pagination{
    display: flex;
    align-items: center;
    span{
      color: #666;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.5em 1em;
      margin-left: 2px;
      text-align: center;
      cursor: pointer;
      cursor: pointer;
    }
    .page{
      border: 1px solid #979797;
      color: #333;
      background: linear-gradient(to bottom,#fff 0,#dcdcdc 100%);
      // min-width: 1.5em;
      height: 2.3rem;
      width: 2.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      cursor: pointer;
    }
  }
}