.footer{
  // background: var(--footer-bg);
  background: var(--black);
  // height: 4rem;
  .footer-container{
    // max-width: 1300px;
    // margin: 0 auto;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 0.5rem 1rem;
    padding-top: 0;
    .logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
      img{

      }
      .text{
        font-weight: 900;
        // height: 3rem;
        // padding: 0.8rem 0 0 0;
        font-size: 30px;
      }
      .links{
        // display: grid;
        // grid-template-columns: repeat(6, 1fr);
        // grid-template-rows: repeat(1, 1fr);
        // gap: 1rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        .link{
          color: var(--white);
          text-align: center;
          &:hover{
            
          }
        }
      }
    }
    .rights{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--white);
      text-align: center;
      font-size: 0.8rem;
      gap: 1.5rem;
      .right{
        .developed{
          text-decoration: none;
          font-weight: bold;
          color: pink;
          &:hover{
            color: #4747f5;
          }
        }
      }
    }
  }
}



//media queroies
@media (max-width: 768px){
  .footer .footer-container .logo .links .link{
    font-size: 0.85rem;
  }
}

@media (max-width: 768px){
  .footer .footer-container {
    padding: 1rem;
    .logo{
      flex-direction: column;
      align-items: flex-start;
      .links{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        // gap: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
        .link{
          text-align: left;
        }
      }
    }
    .rights{
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
}