.login-page{
  // background: radial-gradient(rgb(210,241,223),rgb(211,215,250),rgb(186,216,244)) 0% 0%/400% 400%;
  height: 100vh;
  width: 100%;
  // background: #fff;
  // background-image: url(/src/assets/images/jpg/login-bg2.jpg);
  background-image: url(/src/assets/images/png/bg1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  // &::before{
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background: #00000085;
  // }
  .login-form{
    // height: 100%;
    width: 100%;
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-form-inner{
      width: 1000px;
      height: 450px;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: center;
      // background: var(--white);
      background: #ffffff8e;
      // padding: 2rem;
      border-radius: 20px;
      box-shadow: var(--box-shadow);
      // gap: 2rem;
      // background: #ffffff8e;
      // padding: 2rem;
      // border-radius: 20px;
      // box-shadow: var(--box-shadow);
      .img-section{
        width: 60%;
        height: 100%;
        padding: 2rem;
        
        border-radius: 20px 0 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
          font-size: 1.7rem;
          line-height: 2rem;
          margin-bottom: 0.5rem;
          text-align: center;
        }
        .sub-title{
          margin-bottom: 1rem;
          text-align: center;
          opacity: 0.8;
        }
        .img-details{
          display: flex;
          align-items: center;
          gap: 1rem;
          .dr-img{
            width: 50%;
            img{
              width: 100%;
            }
          }
          .about{
            width: 50%;
            .data{
              display: flex;
              align-items: flex-start;
              gap: 8px;
              &:not(:last-child){
                margin-bottom: 1rem;
              }
              img{
                height: 1.4rem;
                width: 1.4rem;
              }
              .text{
                font-size: 0.85rem;
              }
            }
          }
        }
      }
      form{
        width: 40%;
        height: 100%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background: #fff;
        background: #fff;
        border-radius: 0 20px 20px 0;
        // background: #ffffff8e;
        // padding: 2rem;
        // border-radius: 20px;
        // box-shadow: var(--box-shadow);
        h2{
          font-size: 2rem;
          line-height: 2rem;
          margin-bottom: 0.5rem;
          text-align: center;
        }
        .logo{
          width: 80%;
          margin-bottom: 1rem;
        }
        .text{
          text-align: center;
          margin-bottom: 1rem;
        }
        .forgot{
          display: flex;
          justify-content: flex-end;
          margin-bottom: 1rem;
          margin-top: -0.5rem;
          a{
            color: var(--black);
            font-size: 0.8rem;
            font-weight: 700;
          }
        }
        .form-item{
          input{
            background: #F7FEFF;
          }
        }
        .otp-inputs{
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
          width: 100%;
          input{
            text-align: center;
            width: calc(100% / 4);
            height: 3rem;
            background: #F7FEFF;
          }
        }
        .radio-btns{
          width: 100%;
          .two-inputs{
            .form-item{
              input{
                label{
                  background: #F7FEFF;
                }
              }
              &:first-child{
                input{
                  &:checked ~ label{
                    background: rgb(14, 176, 235);
                  }
                }
              }
              &:nth-child(2){
                input{
                  &:checked ~ label{
                    background: rgb(246, 96, 121);
                  }
                }
              }
              &:nth-child(3){
                input{
                  &:checked ~ label{
                    background: var(--dark-blue);
                  }
                }
              }
            }
          }
          input{
            display: none;
            &:checked ~ label{
              background: var(--light-blue);
              color: var(--white);
              font-weight: 700;
            }
          }
          label{
            width: 100%;
            height: 2.5rem;
            border: 1px solid #d8d7d7;
            border-radius: 4px;
            padding: 0.6rem 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            color: grey;
            cursor: pointer;
            background: #F7FEFF;
          }
        }
        .send-again{
          display: flex;
          align-items: center;
          text-align: left;
          color: #3d3c3c;
          margin-bottom: 8px;
          width: 100%;
          font-size: 13px;
          strong{
            margin-left: 4px;
            cursor: pointer;
            color: var(--black);
          }
        }
        .login-btn{
          .btn{
            width: 100%;
            gap: 8px;
            #icon{
              height: 80%;
              #icon-inner{
                fill: var(--white);
              }
            }
          }
          .load-btn{
            #icon{
              height: 1.2rem;
              width: 1.2rem;
              fill: var(--white);
              animation: rotate 1.0s infinite linear;
            }
          }
        }
        .reg{
          font-size: 12px;
          color: #3d3c3c;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 8px;
          #icon{
            height: 1rem;
            width: 2rem;
          }
          a{
            color: var(--black);
            font-weight: 700;
            text-decoration: none;
          }
        }
      }
    }
  }
}


//media queries
@media (max-width: 768px){
  .login-page{
    // padding: 1rem;
    // overflow-y: scroll;
    padding: 0;
    .img-section{
      display: none;
    }
    .login-form{
      width: 100%;
      margin: 0 auto;
      max-width: 450px;
      
      
      // height: max-content;
      height: 100%;
      // overflow-y: scroll;
      .login-form-inner{
        height: 100%;
        background: transparent;
        overflow-y: scroll;
        padding: 0.5rem;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        .form{
          height: max-content;
          // background: var(--white);
          border-radius: 5px;
          padding: 1rem;
        }
      }
      .form{
        .radio-btns{
          .two-inputs{
            flex-direction: row;
            gap: 0.5rem;
          }
        }
      }
      .register-form{
        // height: max-content;
      }
    }
  }
}

@media (max-width: 560px){
  .login-page{
    // padding: 0.5rem;
    .login-form{
      .login-form-inner{
        // padding: 1rem;
        .form{
          width: 100%;
          h2{
            font-size: 1.8rem;
          }
          
        }
      }
      .register-form{
        .form{
          margin: 1rem 0;
        }
      }
    }
  }
}