.navbar{
  background: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 110;
  .nav-container{
    // max-width: 1300px;
    // margin: 0 auto;
    height: 4.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left{
      display: flex;
      align-items: center;
      gap: 0.8rem;
      .menu-icon{
        cursor: pointer;
        display: flex;
        #icon{
          height: 1.5rem;
          width: 1.5rem;
          fill: var(--white);
        }
      }
      .cross-icon{
        #icon{
          height: 2rem;
          width: 2rem;
        }
      }
      .logo{
        text-decoration: none;
        img{

        }
        .text{
          font-weight: 900;
          font-size: 30px;
        }
      }
    }
    .right{
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .searchbar{
        position: relative;
        display: flex;
        input{
          width: 20rem;
          background: #596566;
          border: none;
          padding-right: 3rem;
          height: 2.4rem;
          color: var(--white);
          &::placeholder{
            color: var(--black);
          }
        }
        .options{
          background: #101010ab;
          max-height: 15rem;
          overflow-y: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .ul{
            .li{
              // background: #101010ab;
              color: var(--white);
              // font-weight: 700;
              border-bottom: 1px solid #eeeeee37;
              &:hover{
                background: #101010ab;
                font-weight: 700;
              }
            }
          }
        }
        img{
          position: absolute;
          top: 50%;
          right: 0px;
          transform: translateY(-50%);
          height: 2rem;
          width: 2.7rem;
        }
      }
      .bell-icon{
        background-image: url(/src/assets/images/png/gradient-circle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        &:hover{
          // box-shadow: none;
          .tooltip{
            transition: all 0.4s linear;
            display: flex;
          }
        }
        img{
          height: 2.1rem;
          width: 2.1rem;
        }
        .no{
          position: absolute;
          top: 0.5px;
          right: 0.5px;
          background: red;
          height: 9px;
          width: 9px;
          border-radius: 100%;
        }
        .tooltip{
          font-weight: 700;
        }
      }
      .search-icon{
        display: none;
      }
      .search-modal-mob{
        display: none;
      }
      .account{
        position: relative;
        .account-card{
          display: flex;
          align-items: center;
          gap: 5px;
          // background-image: url(/src/assets/images/png/gradient-circle.png);
          // background-repeat: no-repeat;
          // background-position: left;
          // background-size: cover;
          height: 2.5rem;
          cursor: pointer;
          padding: 0.5rem;
          .user-img{
            height: 2.1rem;
            width: 2.1rem;
          }
        }
        .float-card{
          position: absolute;
          top: 2.9rem;
          right: 0;
          z-index: 50;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          ul{
            li{
              list-style-type: none;
              &:first-child{
                .link{
                  border-radius: 5px 5px 0 0;
                }
              }
              &:last-child{
                .link{
                  border-radius: 0 0 5px 5px;
                }
              }
              &:not(:last-child){
                .link{
                  border-bottom: 1px solid #00000018;
                }
              }
              .link{
                padding: 0.7rem 0.8rem;
                display: flex;
                align-items: center;
                gap: 8px;
                white-space: nowrap;
                text-decoration: none;
                color: inherit;
                // background: #80666656;
                background: #101010ab;
                cursor: pointer;
                &:hover{
                  // background: #ffffff36;
                  font-weight: 700;
                }
                img{
                  height: 1.5rem;
                  width: 1.5rem;
                }
                .text{
                  font-size: 14px;
                  color: var(--white);
                }
              }
            }
          }
        }
      }
    }
  }
  .sidebar{
    position: fixed;
    top: 4.5rem;
    left: 0;
    height: calc(100vh - 4.5rem);
    background: var(--black);
    padding: 2rem 0;
    width: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .sidebar-card{
      position: relative;
      .close-icon{
        display: none;
      }
      .menu-icons{
        display: flex;
        flex-direction: column;
        .list{
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0.7rem 1rem;
          &:hover{
            background: #cccccc2a;
          }
          .img{ 
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 6px;
            border-radius: 100%;
            img{
              height: 70%;
              width: 70%;
              border-radius: 100%;
            }
          }
          .text{
            font-size: 0.85rem;
            color: var(--white);
          }
        }
        .mob-view{
          display: none;
        }
      }
    }
  }
  .notes-section{
    position: fixed;
    top: 4.5rem;
    right: 0;
    width: 350px;
    height: calc(100% - 4.5rem);
    .card{
      height: calc(100% - 4.5rem);
      padding: 0;
      .heading{
        background: var(--blue);
        color: var(--white);
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 3rem;
        h3{
          font-size: 1.2rem;
        }
        .icon{
          display: flex;
          align-items: center;
          #icon{
            height: 1.8rem;
            width: 1.8rem;
            cursor: pointer;
            fill: var(--white);
          }
        }
      }
      .notes-list{
        height: calc(100% - 3rem);
        // background: red;
        padding: 0.5rem 0;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        .list-item{
          display: flex;
          align-items: flex-start;
          padding: 0.7rem 0.5rem;
          gap: 8px;
          border-bottom: 1px solid #eee;
          padding-right: 2rem;
          position: relative;
          &:first-child{
            border-top: 1px solid #eee;
          }
          &:hover{
            background: #eeeeee52;
          }
          .icon{
            #icon{
              height: 1.7rem;
              width: 1.7rem;
              fill: var(--blue);
            }
          }
          .data{
            .title{
              font-weight: 700;
              font-size: 1rem;
            }
            .text{
              opacity: 0.7;
              font-size: 0.85rem;
            }
          }
          .icon-i{
            position: absolute;
            right: 0;
            width: 1.8rem;
            height: 1.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: var(--blue);
            border: 1x solid #fff;
            #icon{
              height: 1.1rem;
              width: 1.1rem;
              fill: var(--white);
              #icon-inner{
                fill: var(--white);
              }
            }
          }
          .icon-edit{
            top: 0;
            border-radius: 0 0 0 10px;
          }
          .icon-delete{
            bottom: 0;
            border-radius: 10px 0 0 0;
          }
        }
      }
    }
  }
}



//media queries
@media (max-width: 768px){
  .navbar{
    .nav-container{
      padding: 0.5rem;
      .menu-icon{
        display: block;
        #icon{
          height: 1.5rem;
          width: 1.5rem;
          fill: var(--white);
        }
      }
      .right{
        gap: 0.5rem;
        .searchbar{
          display: none;
        }
        .desk-icon{
          display: none; 
        }
        .search-icon{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2.5rem;
          width: 2.5rem;
          background-image: url(/src/assets/images/png/gradient-circle.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          img{
            height: 1.9rem;
            width: 2.1rem;
            // border-radius: 100%;
          }
        }
        .search-modal-mob{
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          background: var(--white);
          z-index: 999;
          height: 100vh;
          .search-modal{
            padding: 0.5rem;
            .search-modal-header{
              width: 100%;
              height: 2.5rem;
              position: relative;
              .left{
                // position: ;
                gap: 0;
                .back-arrow{
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                  display: flex;
                  align-items: center;
                  img{
                    height: 2rem;
                    width: 2rem;
                  }
                }
                input{
                  border-radius: 0;
                  border: 1px solid var(--border-color);
                  padding: 0 2.5rem;
                  border-radius: 12px;
                }
                .options{
                  top: 2.5rem;
                  height: auto;
                  max-height: calc(100vh - 4.5rem);
                  overflow-y: scroll;
                  .ul{
                    display: flex;
                    flex-direction: column;
                    .list{
                      padding: 0.7rem 0.5rem;
                      color: inherit;
                      &:not(:last-child){
                        border-bottom: 1px solid #eeeeeea3;
                      }
                    }
                  }
                }
              }
              .search-btn{
                position: absolute;
                top: 1px;
                right: -4px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                  height: 2.3rem;
                }
              }
            }
          }
        }
        .account{
          .account-card{
            border-radius: 100%;
            padding: 0;
            height: 2.5rem;
            width: 2.5rem;
            h3, .arrow-img{
              display: none;
            }
          }
        }
      }
    }
    .sidebar{
      .sidebar-card{
        .menu-icons{
          .mob-view{
            display: flex;
          }
          .desk-view{
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 560px){
  .navbar{
    .sidebar{
      width: 100%;
      top: 0;
      height: 100vh;
      .sidebar-card{
        // posi
        .close-icon{
          position: absolute;
          top: -1rem;
          right: 1rem;
          display: block;
          #icon{
            height: 2rem;
            width: 2rem;
            fill: var(--white);
          }
        }
      }
    }
  }
}