.patient-group-share{
  .container{
    .card{
      .card-body{
        padding: 1rem;
        padding-top: 0.5rem;
        .tab-content{
          .add-search-row{
            display: flex;
            align-items: center;
            gap: 1rem;
            .searchbar{
              width: 15rem;
            }
          }
        }
      }
    }
  }
}