

:root{
  --primary: #3db39e;
  --secondary: #060316;
  --white: #fff;
  --black: #000;
  --red: #d92525;
  --orange: #BE1A1A;
  --green: #2E750D;
  --yellow: #FFA800;
  --light-blue: #9BE7F8;
  --blue: #00a3c8;
  --dark-blue: #004861;

  --btn-bg: #030927;
  --footer-bg: #030927;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --border-color: #e1dede;
  --table-header-bg-color: #9BE7F8;
  --card-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --card-header-bg: var(--btn-bg);
}